include techCircle
mixin codekitCard(codekit = {})
    .codekit
        a(href=codekit.link)
            .codekit__image-container
                img.codekit__image(src=codekit.image)
            .codekit__content
                .codekit__name
                    span=codekit.title
                .codekit__description
                    span=codekit.description
                .codekit__techs
                    each tech in codekit.techs
                        +techCircle({name: tech})
                .codekit__price
                    span=codekit.price
